@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;700&display=swap');

:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-cards-hover: #40305D;
    --bg-techs: #CB92B1;
}

body {
    background-color: var(--body-bg-color);
    color: var(--text-color);
    font-family: 'Merriweather Sans', 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 auto;
    padding: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
}

.sidebar {
    width: 22vw;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.content {
    width: 60vw;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--bg-cards);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 30px;
    width: 100%;
}

.img-perfil {
    border-radius: 50%;
    height: 120px;
    width: 120px;
}

.card-title {
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 0;
    margin: 0.4rem;
    text-align: center;
}

.description-user {
    font-size: 0.9rem;
    font-weight: 400;
    margin: 0px;
    text-align: center;
}

.card-projects {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: nowrap;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    max-width: 100%;
    margin: 0 auto;
    padding: 1rem 4rem 1rem 1rem;
}

@keyframes scrollCards {
    0% {
        transform: translateX(0%);
    }

    20% {
        transform: translateX(-100%);
    }

    40% {
        transform: translateX(-200%);
    }

    60% {
        transform: translateX(-300%);
    }

    80% {
        transform: translateX(-400%);
    }

    100% {
        transform: translateX(-500%);
    }
}

.card-projects::-webkit-scrollbar {
    display: none;
}

.project {
    min-width: 340px;
    padding: 20px;
    align-items: start;
    overflow: hidden;
    animation: scrollCards 10s;
}

.project:hover {
    transition: 0.5s;
    transform: scale(1.05);
    cursor: pointer;
    background-color: var(--bg-cards-hover);
}

.my-projects {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.card-links {
    align-items: start;
}

.link {
    padding: 10px;
}

.link-title {
    font-size: 0.9rem;
    font-weight: 300;
    margin: 15px;
}

.title-project, .description-project {
    margin: 5px;
}

.title-project>span {
    padding: 10px;
}

.description-project {
    font-size: 0.7rem;
    font-weight: 300;
    padding: 15px 0;
}

.data {
    margin: 0 20px 0 0;
}

i {
    font-size: 1.1rem;
    margin: 0 7px 0 0;
}

.lang {
    border: 1px solid var(--text-color);
    border-radius: 100%;
    font-size: 0.7rem;
    color: #f2e663;
    background-color: #f2e663;
}

.details-project {
    display: flex;
    font-size: 0.8rem;
    font-weight: 300;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.card-post {
    flex-direction: row;
    align-items: center;
    padding: 0px 25px;
}

.card-post-content {
    display: flex;
    flex-direction: column;
    margin: 0 20px 20px;
}

.card-post-content>span {
    padding: 0;
    margin-top: -15px;
    font-size: 0.7rem;
}

.card-post-tags {
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0.2rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8rem;
}

.card-staks, .card-xp, .card-education {
    align-items: flex-start;
}

.techs {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 1rem;
    box-sizing: border-box;
    min-height: 200px;
}


.tech {
    display: flex;
    color: black;
    font-size: 1rem;
    font-weight: 600;
    font-variant-caps: all-petite-caps;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-techs);
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 80px;
    height: 30px;
}

.card-xp, .card-education {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.lista-xp, .lista-edu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.linha-xp, .linha-edu {
    margin: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem;
}

.linha-xp>h4, .linha-edu>h4 {
    margin: 0;
    padding: 0;
    font-weight: 900;
}

.linha-xp>p, .linha-edu>p {
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-variant-caps: all-small-caps;
    font-size: 0.8rem;
}